SonLVL INI Files/dllcache
SonLVL INI Files/SonLVL.log

# Misc. compiler output.
sonic.lst
sonic.log
sonic.p

# Built ROMs.
s1built.bin
s1built.prev.bin
s1built.gen
s1built.prev.gen

# Typical CMake build directory.
build_tools/s1p2bin/build
